body{
    background: rgb(99, 194, 194);
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul li{
    float: left;
    width: 200px;
    height: 40px;
    background-color: darkgray;
    font-size: 24px;
    opacity: 0.7;
    color: white;
    line-height: 40px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    display: block;
}
a:hover{
    background: maroon;
    color: green;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}